body {
    color: #444444;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

* {
    outline: 1px solid to-mato;
}

/* μ„Έν… css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 80px;
    background: #fff;
    border-bottom: 2px solid rgba(2, 28, 54, 0.5);
    height: 80px;
    z-index: 999;
}

.header .inner {
    justify-content: space-between;
}

.header h1 {
    display: block;
}

.header ul {
    gap: 0;
    text-align: center;
}

.header .gnb a {
    display: block;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 80px;
    left: -1000px;
    right: -1000px;
    height: 310px;
    background: #f9f9f9;
    z-index: 999;
    display: none;
}

.header .gnb>ul:hover::before {
    display: block;
}

.header .gnb>ul>li {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    width: 120px;
}

.header .gnb .s_menu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    background: #f9f9f9;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    display: none;
}

.header .gnb>ul:hover .s_menu {
    display: block;
}

.header i {
    line-height: 80px;
    font-size: 25px;
}

/* header */

.mainVisual .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.mainVisual .itm01 {
    background: url(../img/mainVisual01.jpg) no-repeat center center/cover;
}

.mainVisual .itm02 {
    background: url(../img/mainVisual02.jpg) no-repeat center center/cover;
}

.mainVisual .itm03 {
    background: url(../img/mainVisual03.jpg) no-repeat center center/cover;
}

.mainVisual .itm04 {
    background: url(../img/mainVisual04.jpg) no-repeat center center/cover;
}

.mainVisual .itm05 {
    background: url(../img/mainVisual05.jpg) no-repeat center center/cover;
}

.mainVisual .itm06 {
    background: url(../img/mainVisual06.jpg) no-repeat center center/cover;
}

.mainVisual h2 {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-600px, 0);
    font-size: 60px;
    font-weight: 700;

    color: #fff;
    line-height: 70px;
    z-index: 999;
}

.mainVisual strong {
    position: absolute;
    top: 180px;
    right: 50%;
    transform: translate(600px, 0);
    font-size: 30px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 999;
}

.mainVisual strong::before {
    content: "";
    display: block;
    width: 170px;
    height: 4px;
    background: #fff;
}

.mainVisual .down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.mainVisual .down p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-bottom: 20px;
}

.mainVisual .btn {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.mainVisual .btn a {
    position: absolute;
    bottom: 70px;
    left: 0;

    font-size: 40px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.mainVisual .arrows .next {
    left: 60px;
    bottom: 72px;
}

.mainVisual .controller .control {
    left: 130px;
    bottom: 77px;
    font-size: 30px;
}

.mainVisual .controller .pause {
    left: 160px;
}

.mainVisual .gauge_bar {
    position: relative;
    width: 1200px;
    margin: 0 auto;

}

.mainVisual .bar {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 185px;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.mainVisual .bar div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #333;
    transition: 0.5s;
}

/* mainVisual */
.mainContent h2 {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 44px;
    color: #fff;
    font-weight: 500;
    z-index: 999;
}

.mainContent h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 165px;
    height: 2px;
    background: #369;
}

.mainContent .con_slide .con {
    position: relative;
}

.mainContent .con01 {
    background: url(../img/mainContent_bg01.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con02 {
    background: url(../img/mainContent_bg02.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con03 {
    background: url(../img/mainContent_bg03.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con04 {
    background: url(../img/mainContent_bg04.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con_slide img {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainContent .con_slide .tit {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 92px 60px;
    width: 485px;
    height: 312px;
}

.mainContent .con_slide .tit01 {
    position: absolute;
    top: 189px;
    left: 50%;
    transform: translate(-100%, 0);
}

.mainContent .con_slide .tit02,
.tit03,
.tit04 {
    position: absolute;
    top: 189px;
    right: 50%;
    transform: translate(100%, 0);
}

.mainContent .tit strong {
    display: block;
    font-size: 40px;
    margin-bottom: 30px;
}

.mainContent .tit p {
    font-weight: 300;
    line-height: 1.75;
}

.mainContent .con_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, 50%); */
    z-index: 999;

    background: none;
    border: none;
    font-size: 0;

    width: 60px;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.mainContent .con_slide .slick-prev {
    transform: translate(-585px, 50%) rotate(-45deg);
}

.mainContent .con_slide .slick-next {
    transform: translate(530px, 50%) rotate(135deg);
}

/* main content */
.mainNews {
    background: #eaecef;
}

.mainNews .news_wrap {
    display: flex;
    gap: 30px;
    margin: 80px auto;
}

.mainNews .recruit {
    width: 685px;
}

.mainNews .recruit h2 span {
    display: block;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.mainNews .recruit h2 {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 30px 30px;
    padding: 0 0 0 30px;
}

.mainNews .recruit h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 150px;
    background: #369;
}

.mainNews .recruit h2>a {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    text-decoration: underline;
}

.mainNews .rec_box {
    background: #fff;
    border: 4px solid #555;
    padding: 0 50px;
}

.mainNews .rec_box a {
    display: block;
    padding-top: 50px;
}

.mainNews .rec_box a~a {
    border-top: 1px solid #ddd;

}

.mainNews .rec_box span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #777;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.mainNews .rec_box p {
    font-size: 20px;
    margin-bottom: 15px;
}

.mainNews .rec_box em {
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.mainNews .news {
    position: relative;
    width: 486px;
}

.mainNews .news img {
    width: 100%;
}

.mainNews .news h2 span {
    display: block;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.mainNews .news h2 {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 30px 30px;
    padding: 0 0 0 30px;
}

.mainNews .news h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 150px;
    background: #369;
    z-index: 999;
}

.mainNews .news .arrow {
    position: relative;
}

.mainNews .news .arrow>div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: #369;
    color: #fff;
    z-index: 999;
}

.mainNews .news .prev {
    transform: translate(-104%, 0);
}

.mainNews .news .n_itm {
    background: #fff;
}

.mainNews .news_slide figure {
    height: 336px;
    overflow: hidden;
}

.mainNews .news_slide .txt {
    padding: 30px 50px;
    line-height: 1.625;

}

.mainNews .news_slide strong {
    font-size: 25px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mainNews .news_slide p {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mainNews .news_slide em {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}