body {
    color: #444444;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sec {
    height: calc(100vh - 80px);
    padding: 160px 0 80px 0;
}

/* * {
    outline: 1px solid #333;
} */

/* μ„Έν… css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 80px;
    background: #fff;
    border-bottom: 2px solid rgba(2, 28, 54, 0.5);
    height: 80px;
    z-index: 999;
}

.header .inner {
    justify-content: space-between;
}

.header h1 {
    display: block;
}

.header ul {
    gap: 0;
    text-align: center;
}

.header .gnb a {
    display: block;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 80px;
    left: -1000px;
    right: -1000px;
    height: 310px;
    background: #f9f9f9;
    z-index: 999;
    display: none;
}

.header .gnb>ul:hover::before {
    display: block;
}

.header .gnb>ul>li {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    width: 120px;
}

.header .gnb .s_menu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    background: #f9f9f9;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    display: none;
}

.header .gnb>ul:hover .s_menu {
    display: block;
}

.header i {
    line-height: 80px;
    font-size: 25px;
}

/* header */

.mainVisual .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.mainVisual .itm01 {
    background: url(../img/mainVisual01.jpg) no-repeat center center/cover;
}

.mainVisual .itm02 {
    background: url(../img/mainVisual02.jpg) no-repeat center center/cover;
}

.mainVisual .itm03 {
    background: url(../img/mainVisual03.jpg) no-repeat center center/cover;
}

.mainVisual .itm04 {
    background: url(../img/mainVisual04.jpg) no-repeat center center/cover;
}

.mainVisual .itm05 {
    background: url(../img/mainVisual05.jpg) no-repeat center center/cover;
}

.mainVisual .itm06 {
    background: url(../img/mainVisual06.jpg) no-repeat center center/cover;
}

.mainVisual h2 {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-600px, 0);
    font-size: 60px;
    font-weight: 700;

    color: #fff;
    line-height: 70px;
    z-index: 999;
}

.mainVisual strong {
    position: absolute;
    top: 180px;
    right: 50%;
    transform: translate(600px, 0);
    font-size: 30px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 999;
}

.mainVisual strong::before {
    content: "";
    display: block;
    width: 170px;
    height: 4px;
    background: #fff;
}

.mainVisual .down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.mainVisual .down p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-bottom: 20px;
}

.mainVisual .btn {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.mainVisual .btn a {
    position: absolute;
    bottom: 70px;
    left: 0;

    font-size: 40px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.mainVisual .arrows .next {
    left: 60px;
    bottom: 72px;
}

.mainVisual .controller .control {
    left: 130px;
    bottom: 77px;
    font-size: 30px;
}

.mainVisual .controller .pause {
    left: 160px;
}

.mainVisual .gauge_bar {
    position: relative;
    width: 1200px;
    margin: 0 auto;

}

.mainVisual .bar {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 185px;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.mainVisual .bar div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #333;
    transition: 0.5s;
}

/* mainVisual */
.mainContent h2 {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 44px;
    color: #fff;
    font-weight: 500;
    z-index: 999;
}

.mainContent .con_slide .con {
    position: relative;
}

.mainContent .con01 {
    background: url(../img/mainContent_bg01.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con02 {
    background: url(../img/mainContent_bg02.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con03 {
    background: url(../img/mainContent_bg03.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con04 {
    background: url(../img/mainContent_bg04.jpg) no-repeat center center/cover;
    height: calc(100vh - 80px);
}

.mainContent .con_slide img {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainContent .con_slide .tit {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 92px 60px;
    width: 485px;
    height: 312px;
}

.mainContent .con_slide .tit01 {
    position: absolute;
    top: 189px;
    left: 50%;
    transform: translate(-100%, 0);
}

.mainContent .con_slide .tit02,
.tit03,
.tit04 {
    position: absolute;
    top: 189px;
    right: 50%;
    transform: translate(100%, 0);
}

.mainContent .tit strong {
    display: block;
    font-size: 40px;
    margin-bottom: 30px;
}

.mainContent .tit p {
    font-weight: 300;
    line-height: 1.75;
}